* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px/1.5 'Nunito', sans-serif;

	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;

	background: url("img/kelly-green-canvas-fabric-texture.jpg") repeat top center fixed #042;
	color: #fff;
}

th, td {
	padding: .125rem .25rem;
}

input, select, textarea, button {
	font: inherit;
	color: inherit;

	background: #021;
	border: 1px solid;
}

button {
	padding: .25rem;
	border-radius: .25rem;
}
button:hover {
	background: #233;
}

input[type=number] {
	/* Should appear as a textfield, to prevent issues with onfocus/onchange */
	-moz-appearance: textfield;

	text-align: right;
	width: 6em;
}

/* Should appear as a textfield, to prevent issues with onfocus/onchange: Chrome's Clusterfuck Version™ */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
